<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.anubhuti.knit">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".Utils.ApplicationContextProvider"
        android:allowBackup="true"
        android:icon="@drawable/anubhti_icon"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:largeHeap="true"
        android:roundIcon="@drawable/anubhti_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:name=".Activities.ScheduleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog.Alert"/>
        <activity
            android:name=".Activities.PopUpContact"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".Activities.EventDiscription"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.EventListActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>